<%- include('header') -%>

  <div class="content">
    <h1>
      <%= title %> spurningar
    </h1>
    <section class="quiz">
      <% for (const question of questions) { %>
        <% if (question.question && Array.isArray(question.answers)) { %>
          <h3>
            <%= question.question %>
          </h3>
          <ul>
            <% for (const answer of question.answers) { %>
              <% if (typeof answer.answer==="string" ) { %>
                <li>
                  <button class="answer" data-correct="<%= answer.correct %>">
                    <%= answer.answer %>
                  </button>
                </li>
                <% } %>
                  <% } %>
          </ul>
          <% } %>
            <% } %>
    </section>
  </div>

  <%- include('footer') -%>